[Desktop Entry]
Name=sftpman-iced
Comment=Manage & mount sshfs (SFTP) filesystems
Comment[bg]=Управление и монтиране на sshfs (SFTP) файлови системи
Comment[de]=Verwalten & Ein-/Aushängen von sshfs (SFTP) Dateisystemen
Exec=sftpman-iced
Icon=sftpman-iced
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=sftpman-iced
Categories=Filesystem;Network;
Keywords=sshfs;sftp;network shares;filesystems;mounting;
Keywords[bg]=sshfs;sftp;мрежови споделяния;файлове системи;монтиране;
Keywords[de]=sshfs;sftp;Netzwerk shares;Dateisystem;Ein-/Aushängen;
Keywords[ru]=sshfs;sftp;сетевые ресурсы;файловые системы;монтирование;
